:root {
	--major: rgba(255, 255, 255, 0.87);
	--muted: rgba(255, 255, 255, 0.4);
	--bg: #1d1d1d;
	--bg-secondary: #242424;
	--bg-hover: #2f2f2f;
	--bg-overlay: #{rgba(#262626, 0.6)};
	--border: #4d4d4d;
	--danger: #fa7272;
	--inverse: #2d2d2d;
	--intense: #ffffff;

	--font-main: 'Inter', sans-serif;

	--cursor-default: url('@/images/cursor-default.svg'), default;
	--cursor-pointer: url('@/images/cursor-pointer.svg'), pointer;
	--cursor-move: url('@/images/cursor-move.svg'), move;

	--duration-sm: 0.12s;
	--duration-md: 0.2s;
	--duration-lg: 0.3s;
	--duration-xl: 0.6s;
	--duration-xxl: 1s;

	--radius-xs: 4px;
	--radius-sm: 6px;
	--radius-md: 8px;
	--radius-lg: 12px;
	--radius-xxl: 24px;
}

// @media (prefers-color-scheme: light) {
// 	:root {
// 		--major: #213547;
// 		--bg: #ffffff;
// 		--bg-secondary: #f0f0f0;
// 		--border: #eee;
// 		--bg-overlay: #{rgba(#aaaaaa, 0.6)};

// 		--cursor-default: url('@/images/cursor-default-light.svg'), default;
// 		--cursor-pointer: url('@/images/cursor-pointer-light.svg'), pointer;
// 		--cursor-move: url('@/images/cursor-move-light.svg'), move;
// 	}
// }
