:root {
	--major: rgba(255, 255, 255, 0.87);
	--bg: #1d1d1d;
	--bg-secondary: #242424;
	--border: #4d4d4d;
}

// @media (prefers-color-scheme: light) {
// 	:root {
// 		--major: #213547;
// 		--bg: #ffffff;
// 		--bg-secondary: #f0f0f0;
// 		--border: #eee;
// 	}
// }
