:root {
	--major: rgba(255, 255, 255, 0.87);
	--bg: #1d1d1d;
	--bg-secondary: #242424;
	--bg-hover: #2f2f2f;
	--border: #4d4d4d;
	--font-main: 'Inter', sans-serif;
	--cursor-default: url('@/images/cursor-default.svg'), default;
	--cursor-pointer: url('@/images/cursor-pointer.svg'), pointer;
	--cursor-move: url('@/images/cursor-move.svg'), move;
}

// @media (prefers-color-scheme: light) {
// 	:root {
// 		--major: #213547;
// 		--bg: #ffffff;
// 		--bg-secondary: #f0f0f0;
// 		--border: #eee;
// 	}
// }
