body {
	margin: 0;
	display: grid;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
	background-color: var(--bg);
	cursor: url('@/images/cursor-default.svg'), default;
}

#app {
	padding: 2rem;
	display: grid;
	gap: 1.5rem;
	grid-template-columns: 236px 525px;
}

@mixin box {
	border: 1px solid #4d4d4d;
	border-radius: 0.75rem;
	background-color: var(--bg-secondary);
}
