body {
	margin: 0;
	display: grid;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
	background-color: var(--bg);
	cursor: var(--cursor-default);
}

#app {
	padding: 2rem;
	display: grid;
	gap: 1.5rem;
	grid-template-columns: 236px 525px;
}
